<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>

    <body class="main-page">
        <%= image_tag "okinawa_beach_2.JPG", class: "okinawa_beach_picture"%>
    </body>

</html>