<!DOCTYPE html>
<html>
    <body class="about-page">
        <div class="container">
            <p class="about-intro">
                <p style="margin-bottom:3px; margin-top:0px; padding-top:0px;">
                My name is Keigo Tamaki and I am a second year undergraduate student at UCLA studying mathematics. 
                </p>
                <p style="margin-bottom:3px;">
                I work in the Ni Research Lab at the 
                <a href="https://www.pa.ucla.edu/research.html" style="display: inline">UCLA Department of Physics</a>,
                advised by
                <a href="https://scholar.google.com/citations?hl=ja&user=1zPax8kAAAAJ&view_op=list_works&sortby=pubdate" style="display: inline">Dr. Ni Ni</a>.
                During the summer of 2025, I will work as an intern at the
                <a href="https://neutrons.ornl.gov/nsd" style="display: inline">Neutron Scattering</a>
                and
                <a href="https://www.ornl.gov/division/csmd" style="display: inline">Computer Science and Mathematics</a>
                Divisions at 
                <a href="https://www.ornl.gov/content/decades-of-discovery" style="display: inline">Oak Ridge National Laboratory</a>,
                advised by
                <a href="https://scholar.google.com/citations?hl=en&user=Wr661AQAAAAJ&view_op=list_works&sortby=pubdate" style="display: inline">Dr. Huibo Cao</a>
                and 
                <a href="https://scholar.google.com/citations?user=ozmWHMMAAAAJ&hl=en" style="display: inline">Dr. Zachary Morgan</a>.
                I am grateful to be supported by the 
                <a href="https://www.energy.gov/internships-fellowships" style="display: inline">U.S. Department of Energy</a>.
                In the future, I aim to complete a Ph.D. in mathematics.
                </p>

                <p class="contact_title" style="margin-bottom:0px">CONTACT:</p>
                <p style="margin-bottom:3px; margin-top:0px; padding-top:0px;">
                    <p style="margin-bottom:0px; margin-top:0px; padding-top:0px;">Email: <span style="padding-left:2px">keigo dot tamaki at ucla dot edu</span></p>
                    <p style="margin-bottom:0px; margin-top:0px; padding-top:0px;">Phone number: <span style="padding-left:2px">+1 661 390 1773</span></p>
                </p>
            </p>
        </div>
    </body>
</html>