

.math-page p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.01px;
    line-height: 1.5;
    font-size: 14px;
    color: black;

    margin-left: 20px;
}

.math-page .container ul li {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.01px;
    line-height: 1.5;
    font-size: 14px;
    color: black;

    margin-left: 20px;
}

.math-page .container {
    display: inline-grid;
    max-width: 790px;
    margin: 0px;
    position: relative;
}
