<!DOCTYPE html>
<html> 
    <body class="math-page">
        <div class="container">
            <p class="math-intro">
                <p style="margin-bottom:3px; margin-top:0px; padding-top:0px;">
                I currently primarily study
                <a href="https://en.wikipedia.org/wiki/Functional_analysis" target="_blank" style="display: inline">analysis</a>,
                <a href="https://en.wikipedia.org/wiki/Algebraic_topology" target="_blank" style="display: inline">algebraic topology</a>,
                and 
                <a href="https://en.wikipedia.org/wiki/Differential_geometry" target="_blank" style="display: inline">differential geometry</a>.
                </p>

                <p style="margin-bottom:3px;">
                    Here are some (incomplete) notes that I have typed, which 
                    I do with as little reference as possible to study for mathematics exams.
                    Do note that thus, they may contain mistakes.
                </p>

                <p style="margin-bottom:0px;">
                    <a href="real_analysis_notes.pdf" style="display: inline">Real analysis (integration)</a>
                </p>
                <p style="margin-top:0px; margin-bottom:3px;">
                    <a href="point_set_topology_notes.pdf" style="display: inline">Point set topology</a>
                </p>
            
                <p style="margin-bottom:3px;">
                    I am happy to answer questions regarding or (possibly) offer tutoring for almost any
                    high school or undergraduate level mathematics class.
                    Please feel free to contact me at my
                     <a href="/about">listed contact details</a>
                     for such inquiries.
                    For reference, I have taken or am currently taking the following relevant courses (mostly) at UCLA:
                    <p style="margin-bottom:0px; margin-top:10px; padding-top:0px;">
                    2024-2025:
                    <ul>
                        <li>MATH 115AH (Honors Linear Algebra)</li>
                        <li>MATH 115B (Linear Algebra)</li>
                        <li>MATH 121 (Point Set Topology)</li>
                        <li>MATH 131AH (Honors Real Analysis)</li>
                        <li>MATH 131BH (Honors Real Analysis)</li>
                        <li>MATH 135 (Ordinary Differential Equations)</li>
                        <li>MATH 170E (Probability)</li>
                        <li>MATH 170S (Mathematical Statistics)</li>
                        <li>MATH 225C (Algebraic Topology)</li>
                        <li>PHYSICS 1B (Oscillations, Waves, Electricity, Magnetism)</li>
                        <li>PHYSICS 1C (Electrodynamics, Optics, Special Relativity)</li>
                        <li>STATS 10 (Statistics)</li>
                        <li>STATS 20 (R Programming)</li>
                    </ul> 
                    </p>
                    <p style="margin-bottom:0px; margin-top:-25px; padding-top:0px;">
                    2023-2024:
                    <ul>
                        <li>AP Calculus BC *equivalent to MATH 31A, MATH 31B (Single Variable Calculus)</li> 
                        <li>MATH 32A (Multivariable Calculus)</li>
                        <li>MATH 32B (Multivariable Calculus)</li>
                        <li>MATH 33A (Linear Algebra)</li>
                        <li>MATH 33B (Differential Equations)</li>
                        <li>MATH 61 (Discrete Mathematics)</li>
                        <li>CS 31 (C++ Programming)</li>
                        <li>CS 32 (Data Structures and Algorithms)</li>
                        <li>PHYSICS 1A (Mechanics)</li>
                        <li>C&S BIO 10 (R, Bash, Python for Computational Biology)</li>
                    </ul> 
                    </p>
                </p>
            </p>
        <div>
    </body>
</html>